
/* General Styles */
body {
    color:#fff;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
.main-header {
    color: #fff;
    height: 85vh;
    padding-top: 10%;
}

.branding {
    display: inline-flex;
    align-items: center;
}

.divImgProfile {
    display: flex;
    background-color: #fca311;
    width: 25%; 
    padding: 5px; 
    margin:auto;
    margin-right: 0px;
    
}

.imgProfile {
    margin: auto;
    width: 100%; 
    min-width: 100px;
}

.name {
    font-size: 4rem;
    margin: 0;
    line-height: 100%;
}

.role {
    font-size: 1.5rem;
    margin-top: 0px;
}

.highlight {
    color: #fca311;
    font-weight: bold;
}

.description {
    font-size: 1.1rem;
}

.cta-buttons .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.btn {
    background: #fca311;
    color: #000;
    font-weight: bold;

}

.btn.secondary {
    background: #da0b0b;
    border-width: 10px;
    border-color: #fca311;
    color: #fff;
}

/* About Section */
.about-section {
    text-align: center;
}

.aboutTitle {
    margin-top: 0px;
    color:#fca311;
}

.aboutText{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 20px;
    width:80%;
    border: 2px solid #162447;
    background-color: #1a4f68;
    border-radius: 7px;
}

/* Expertise Section */
.expertise-section {
    padding: 2rem 0;
    text-align: center;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    text-align: center;
}

.sk_column {
    display: flex;
    flex-direction: column; /* Les éléments dans chaque colonne s'empilent */
    text-align: center;
    border: 2px solid #162447;
    border-radius: 10px;
    padding: 7px;
    background-color:#1a4f68;
  }

.skill {
    padding: 0.5rem 1rem;
    margin-top: 10px;
    background: #162447;
    color: #fff;
    border-radius: 5px;
    width: 50%;
    align-self: center;
}

.skilltitle {
    color: #fca311;
}

.project-section {
    text-align: center;
    padding: 2rem 0;
}

.projectTitle {
    color:#fca311
}

.projectList{
    display: grid; /* Activer le mode grille */
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
}

.project {
    display: flex;
    flex-direction: column; /* Les éléments dans chaque colonne s'empilent */
    text-align: center;
    align-items: center;
    border: 2px solid #162447;
    border-radius: 10px;
    padding: 7px;
    background: #1a4f68;
}

.imgProject {
    width: 80%;
}

.textProject {
    font-size: small;
    width: 80%;
}

.skillProjectDiv {
    display: inline-flex;
}

.skillProject {
    padding: 0px 5px 0px 5px;
    margin: 0px 3px 5px 3px;
    font-size: smaller;
    color:rgb(190, 190, 190);
    background-color: rgba(150, 150, 150, 0.3);
    border-radius: 5px;
}

/* Footer */
.footer {
    background: #162447;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.background {
    background-image: url(images/background.svg);
    background-size: cover;
    background-position: center;

    background-color: #154459;
}

.lien {
    color:#fca311
}

::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
    background:#154459; /* Couleur de fond */
}

::-webkit-scrollbar-thumb {
    background:#162447; /* Vert */
    border-radius: 10px; /* Coins arrondis */
}